@media only screen and (max-width:1440px) {

a.nav-link.px-4.text-light {
  font-size: 14px ;
}

}










/* -------1920--------- */

@media only screen and (min-width:1920px) {

  .container-fluid {
    width: 1899px;
  }
}






@media only screen and (max-width:767px) {
  .hero-bg {
    background-image: url(../images/mobilehemobg.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    padding: 0;
 }
 .paddhero2 {
  padding-top: 10px !important;
    padding: 0px;
}
.paddhero {
  padding-top: 95px;
}
.secmodihid{
  display: none;
}

a.navbar-brand {
  width: 66% !important;
}
.navbar-brand{
  padding: 0;
}
button.navbar-toggler {
  border: 1px solid #fff;
  margin-top: 17px;
}
.offcanvas-header {
  background: #000;
}
.headermenusec {
  color: #000;
}
.navbar-nav>li>a {
  padding-top: 0px; 
  padding-bottom: 0px; 
  line-height: 40px; 
}
.navbar-nav {
  margin: 0;
}
.secheaderbtn{
  background:transparent !important;
    padding: 0px 0px 0px 14px  !important;
    color: #000 !important;
    font-size: 18px !important;
}
 .martext {
  font-size: 18px;
  padding: 0px 0px;
  font-weight: 500;
  display: flex;
    align-items: center;
}
.maeqsec2 {
  display: none;
}
.maeqsec1 {
  background-color: #4f4f4f;
  padding: 0px 0px 0px 0px ;
  transform: rotate(0deg);
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.secover {
  overflow: hidden;
  padding: 0px;
  position: relative;
  margin-top: 0px;
}
.trans h2 {
  font-size: 32px;
}
.trans2 {
  font-size: 16px;
}
.home-blogbg {
  padding: 10px;
  border-radius: 11px;
  margin-bottom: 27px;
}
.home-blogbg h3 {
  font-size: 20px;
}
.ourpr h2 {
  font-size: 31px;
}
.bg-prog {
  padding: 30px 10px;
}
.ourpr p {
  font-size: 16px;
  padding-bottom: 30px;
}
.program-bbgg {
  padding: 20px 10px;
  margin-bottom: 30px;
}
.traning-text H3 {
  font-size: 23px;
  padding-left: 0px;
}
.traning-text p {
  font-family: 'Open Sans';
  color: #EEEEEE;
  font-size: 16px;
  padding-left: 0px;
}
.bg-tra {
  margin-top: -10px;
}
.mobilteg{
  padding-top: 0px !important;
}
.effect-image-1:hover .overlay-text-1 {
  display: none;
}
.extra-tag h3 {
  font-size: 25px;
}
.texxtEquipment {
  font-size: 35px;
  padding-top: 0px;
}
.mobilteg3{
  padding: 0px !important;
}
.eqbgg {
  padding: 10px;
  margin-bottom: 30px;
}
.feedback-slider-item {
  position: relative;
  padding: 0px;
   margin-top: 0px;
}
.customer-feedback.pb-5 {
  padding-bottom: 0px !important;
}
.feedtext p {
  padding-top: 10px;
}
.ledthh {
  font-size: 30px;
}
.letbgg {
  background-image: url(../images/letbgg.png);
  background-repeat: no-repeat;
  background-size: cover;
   height: auto;
}
.modalmobile{
  padding: 10px;
}
.footer-bg {
  background: #0D141E;
  padding: 20px 0px 20px 0px;
}
.seccont4 p a {
  font-size: 14px;
}
.Copyrsec {
  text-align: center;
  font-size: 14px;
  padding-top: 20px;
}
.paddhero2 h4 {
  color: #fff;
  font-size: 27px;
  font-family: "Montserrat";
 
}
.paddhero2 p {
  font-size: 14px;
}
.Copyrsec2 {
  text-align: center;
}
}













@media only screen and (max-width:767px) {
  .text-fre {
    padding-top: 30px;
}
.sec-hright , .sec-hright2 , .sec-hright3 , .sec-hright3p {
  height: auto;
}

.train-bg h1{
  font-size: 30px;
  padding-top: 0px;
}
.nuber-bg h1 , .founder-bg h1{
  font-size: 80px;
  margin-top: 0;
}
.img-marg {
  margin-bottom: 0px;
  padding-top: 30px;
} 
.sec-slid-img {
  width: 100% !important;
}
.mar-number{
  margin-top: 0px;
  flex-direction: column;
}
.number-img img {
  padding: 20px 0px;
}
.sec-space-left-right {
  padding: 0px 10px;
}
.train-bg p {
  width: 100%;
}
#selider1 .owl-nav {
  font-size: 40px !important;
  margin-top: 0px;
  text-align: center;
  margin-top: 30px;
}
#selider1 button.owl-prev {
  margin-left: 0px;
  width: 50px;
  height: 57px;
}
#selider1 button.owl-next {
  margin-right: 0px;
  float: none;
  width: 50px;
  height: 57px;
}
.founder-bg h2 {
  color: #FFF;
  font-size: 40px;
  margin-bottom: 30px;
  padding-left: 20px;
}
.slider-text h5 {
  padding-top: 10px;
}
.sec-slider-pa {
  padding: 40px 0px 0px 0px;
}
.main-slider .owl-item.active.center {
  margin-top: 0px !important;
}
.owl-nav {
  display: block;
}

.three-slider .owl-nav {
  display: none;
}
.sec-h-btn , .sec-h-btn2{
  padding: 7px 11px;
  font-size: 11px;
  border-radius: 0px !important;
}



.sec-cont {
  border: 0;
  background: rgba(217, 217, 217, 0.00);
  font-weight: 400;
  text-transform: capitalize;
}
a.nav-link.px-4.text-light, a.nav-link.dropdown-toggle.text-light {
  font-size: 17px !important;
  padding: 15px 0px !important;
  border-bottom: 1px solid;
}
.about-bg {
  padding: 00px 0px !important;
}
.sec-abhome p{
  font-size: 18px;
}
.founder-bg {
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 0px;
}
.slider-flex {
  display: flex;
  flex-direction: column-reverse;
}
#slider2 .owl-nav {
  margin-top: 0px;
}
.price-bg h1 {
  color: #FFF;
  font-size: 30px;
}
.price-bg , .price-bg2 {
  padding: 30px 0px;
}
.price-bg2 h1, .price-bg5 h1 , .price-bg52 h1 {
  font-size: 30px;
}
.price-text {
  margin-bottom: 50px;
  padding: 30px 10px !important;
}
.sec-ss h4 {
  color: #000;
  font-size: 18px;
}
.sec-ss h1 {
  color: #C50;
  text-align: left;
  font-family: 'Syne';
  font-size: 36px;
}

.links-add a {
  font-size: 14px;
}
.footer-menu {
  flex-direction: column;
}

.colpy-right {
    text-align: center;
}

.hero-bg2 h2 , .hero-bg2 h4 , .hero-bg2-1 h2,
.hero-bg2-2 h2,
.hero-bg2-3 h2,
.hero-bg2-4 h2,
.hero-bg2-5 h2,
.hero-bg2-6 h2,
.hero-bg2-7 h2 ,   .hero-bg2-4 h4 {
  font-size: 50px;
  line-height: 121%;
}
.img-marg2 {
  margin-top: 0px;
}
.text-fre p {
  font-size: 18px;
}
.our-h {
  color: #FFF;
  font-size: 24px;
}
.our-p {
  text-align: center;
  font-size: 18px;
}
.nuber-bg p {
  width: 100%;
  margin-bottom: 0px;
}
.activ-bg p {
  width: 100%;
  margin: auto;
  padding: 0px 15px;
}
.courses-bg {
  padding: 60px 10px;
}
.work-h {
  color: #FFF;
  text-shadow: 0px 0px 15px #000;
  font-size: 40px;
}
.sec-mar-min{
  margin-top: 0px;
}
.sec-padd-our ul li {
  font-size: 18px;
  line-height: 31px;
}
.sec-padd-our {
  padding: 40px 0px;
}
table.table {
  width: 100%;
  margin: auto;
}
.courses-bg h2 {
  font-size: 30px;

}
.scop-margin{
  margin-top: 0px;
}
.scop-text h2 {
  font-size: 25px;
}
.scop-text p {
  font-size: 18px;
}
.module-bg h2 {
  font-size: 30px;
}
.test-text h3 {
  font-size: 20px;
  padding-top: 20px;
}
.test-text h3 i {
  font-size: 20px;
  padding: 8px 9px;
}
.text-testmon {
  font-size: 18px;
  line-height: 30px;
}
.test-bg {
  padding: 40px 0px;
}
.us-bg h3 {
  font-size: 30px;
}
.all-map {
  display: flex;
  flex-direction: column;
}

.d-flex {
  display: flex!important;
  flex-direction: column;
}
.sec-enquiry{
  padding-top: 40px;
  width: 100%;
  margin: auto;
}
div#selider1 .owl-stage-outer {
  padding-top: 0px !important;
}
.bener-bg {
  padding: 30px 10px;
}

.benefit-bg h4 {
  font-size: 30px;
}
.benefit-bg ol li {
  font-size: 18px;
}
.sec2-policy{
  padding: 40px 10px !important;
}
.sec-policy2 {
  font-size: 50px;
  line-height: 60px;
}
.sec-line-pol , .secli{
  font-size: 18px;
}
ol.m-0.p-0 {
  padding: 10px 20px !important;
}
}

