.hero-bg {
   background-image: url(../images/hero-bg.png);
   background-repeat: no-repeat;
   background-size: cover;
   height: 1180px;

}

.paddhero {
   padding-top: 565px;
}
.socal-links {
   display: flex;
   align-items: center;
}

.paddhero2 {
   padding-top: 450px;
}

.paddhero2 h4 {
   color: #fff;
   font-size: 36px;
   font-family: "Montserrat";
   font-weight: 700;
}

.paddhero2 p {
   color: #fff;
   font-family: "Open Sans";
   font-size: 16px;
}

.sec-menu-bgg {
   padding-left: 0px;
   padding-right: 0px;
}

.paddhero2 p a {
   font-family: "Open Sans";
   font-size: 16px;
   color: #E41C1F;
   font-weight: 600;
   text-decoration: none;
}

.paddhero2 p a:hover {
   color: #fff;
}

.headermenusec {
   color: #fff;
   font-family: 'Montserrat';
   font-size: 18px;
   font-style: normal;
   font-weight: 500;
}

.headermenusec2btn {
   background: #E41C1F;
   border-radius: 40px;
   display: inline-flex;
   padding: 10px 35px 10px 35px !important;
   color: #FFF;
   text-align: center;
   font-family: 'Montserrat';
   font-size: 20px;
   font-style: normal;
   font-weight: 500;
}

.headermenusec2btn:hover {
   color: #E41C1F;
   background: #fff;
}

/* .movesec {
   background-image: url(../images/we3.png);
   background-repeat: no-repeat;
   background-size: cover;
   height: 880px;
} */

.movesec p {
   color: #000;
   font-family: 'Inter';
   font-size: 18px;
   font-style: normal;
   font-weight: 200;
}

.movesec h3 {
   color: #000;
   font-family: 'Inter';
   font-size: 40px;
   font-style: normal;
   font-weight: 500;
}

.bg-tra {
   background-color: #191C23;
   padding: 50px 10px;
   margin-top: -40px;
}

.trans h2 {
   font-family: 'Montserrat';
   color: #fff;
   font-size: 55px;
   font-weight: 700;
}

.trans2 {
   font-family: "Open Sans";
   font-size: 18px;
   color: #fff;
}

.home-blogbg {
   background-color: #292E32;
   padding: 20px;
   border-radius: 16px;
   margin-bottom: 30px;
}

.home-blogbg h3 {
   font-family: 'Montserrat';
   color: #EEEEEE;
   font-size: 25px;
   font-weight: 500;
   text-align: center;
}

.home-blogbg p {
   font-family: "Open Sans";
   font-size: 16px;
   color: #EEEEEE;
   padding-top: 20px;
}

.home-blogbg p a {
   font-family: "Open Sans";
   font-size: 16px;
   color: #EEEEEE;
   padding-top: 20px;
}

.home-blogbg p a:hover {
   color: #E41C1F;
}

.videocode {
   width: 100%;
   height: auto;
}

.bg-prog {
   background-image: url(../images/Placeholder.png);
   background-repeat: no-repeat;
   background-size: cover;
   padding: 60px 10px;
}

.ourpr h2 {
   font-family: 'Montserrat';
   color: #EEEEEE;
   font-size: 55px;
   font-weight: 700;
   text-align: center;
}

.ourpr p {
   font-family: 'Open Sans';
   color: #EEEEEE;
   font-size: 18px;
   text-align: center;
}

.program-bbgg {
   background-color: #292E32;
   border-radius: 16px;
   padding: 20px;
}

.program-bbgg:hover {
   background-color: #E41C1F;
}

.tranbgg {
   background-image: url(../images/ot1.png);
   background-repeat: no-repeat;
   background-size: cover;
   width: 40px;
   height: 40px;
}

.program-bbgg:hover .tranbgg {
   background-image: url(../images/ot1hover.png);
   background-repeat: no-repeat;
   background-size: cover;
   width: 40px;
   height: 40px;
}

.traning-text H3 {
   font-family: 'Montserrat';
   color: #EEEEEE;
   font-size: 35px;
   font-weight: 700;
   padding-left: 20px;
}

.traning-text p {
   font-family: 'Open Sans';
   color: #EEEEEE;
   font-size: 18px;
   padding-left: 20px;
}

.tranbgg2 {
   background-image: url(../images/ot2.png);
   background-repeat: no-repeat;
   background-size: cover;
   width: 40px;
   height: 40px;
}

.program-bbgg:hover .tranbgg2 {
   background-image: url(../images/ot2hover.png);
   background-repeat: no-repeat;
   background-size: cover;
   width: 40px;
   height: 40px;
}

.tranbgg3 {
   background-image: url(../images/ot3.png);
   background-repeat: no-repeat;
   background-size: cover;
   width: 40px;
   height: 40px;
}

.program-bbgg:hover .tranbgg3 {
   background-image: url(../images/ot3hover.png);
   background-repeat: no-repeat;
   background-size: cover;
   width: 40px;
   height: 40px;
}

.tranbgg4 {
   background-image: url(../images/ot4.png);
   background-repeat: no-repeat;
   background-size: cover;
   width: 40px;
   height: 40px;
}

.program-bbgg:hover .tranbgg4 {
   background-image: url(../images/ot4hover.png);
   background-repeat: no-repeat;
   background-size: cover;
   width: 40px;
   height: 40px;
}

/* hover-images */


.hovimg {
   width: 100%;
   border-radius: 20px;
}

.overlay,
.overlay-text,
.simple-text,
.overlay-sim-text-2,
.overlay-text-effect-3,
.zoom-effect-1 img,
.zoom-effect-2 img,
.opacity-effect img,
.blur-effect img,
.grayscale-effect img {
   transition: all .4s linear;
   -webkit-transition: all .4s linear;
   -moz-transition: all .4s linear;
   -o-transition: all .4s linear;
}

.image-wrapper {
   margin-bottom: 35px;
}

.effect-image-1 {
   position: relative;
   display: block;
}
.overlay-text h2 {
   font-family: 'Montserrat';
   font-size: 30px;
   color: #EEEEEE;
   padding-left: 20px;
}
.overlay-text p {
   font-family: "Open Sans";
   font-size: 16px;
   color: #EEEEEE;
   padding: 20px 20px;
}

.overlay {
   position: absolute;
   display: block;
   width: 100%;
   height: 100%;
   left: 0;
   bottom: 0;
   opacity: 0;
   visibility: hidden;
}

/*-- simple overlay css --*/

.simple-overlay {
   opacity: 0;
   visibility: hidden;
}

.effect-image-1:hover .simple-overlay {
   visibility: visible;
   opacity: 1;
}

/*-- left to right overlay --*/

.simple-overlay-1 {
   width: 0px;
   visibility: hidden;
}

.effect-image-1:hover .simple-overlay-1 {
   visibility: visible;
   opacity: 1;
   width: 100%;
}

/*-- right to left overlay --*/

.simple-overlay-2 {
   width: 0px;
   right: 0;
   left: initial;
}

.effect-image-1:hover .simple-overlay-2 {
   visibility: visible;
   opacity: 1;
   width: 100%;
}

/*-- right corner to left overlay --*/

.simple-overlay-3 {
   height: 0px;
   right: 0;
   left: initial;
   width: 0px;
}

.effect-image-1:hover .simple-overlay-3 {
   visibility: visible;
   opacity: 1;
   width: 100%;
   height: 100%;
}

/*-- ovarlay text effect-1 --*/

.overlay-text {
   position: absolute;
   left: 5px;
   top: 360px;
   width: 96%;
   height: 94%;
}

.overlay-text-1 {
   opacity: 0;
   visibility: hidden;
}

.effect-image-1:hover .overlay-text-1 {
   opacity: 1;
   visibility: visible;
}

.overlay-text-2 {
   opacity: 0;
   visibility: hidden;
   transform: scale(1.1);
}

.effect-image-1:hover .overlay-text-2 {
   opacity: 1;
   visibility: visible;
   transform: scale(1);
}

.tagtext p{
   font-family: 'Montserrat';
   color: #0066FF;
   font-size: 20px;  
   padding-left: 10px;

}
.extra-tag h3{
   font-family: 'Montserrat';
   color: #fff;
   font-size: 45px;  
}
.extra-tag p{
   font-family: "Open Sans";
   color: #fff;
   font-size: 16px;  
}
.texxtEquipment{
   font-family: 'Montserrat';
   color: #000;
   font-size: 55px;  
   text-align: center;
   font-weight: 700;
   padding-top: 30px;
   padding-bottom: 20px;
}
.eqbgg{
   background-color: #F4EBD9;
   padding: 20px;
}

.eqbgg p{
   font-family: 'Montserrat';
   color: #000;
   font-size: 20px; 
   font-weight: 600;
}





 
 .section-title {
   font-size: 28px;
   margin-bottom: 20px;
   padding-bottom: 20px;
   font-weight: 400;
   display: inline-block;
   position: relative;
 }
 .section-title:after,
 .section-title:before {
   content: '';
   position: absolute;
   bottom: 0;
 }
 .section-title:after {
   height: 2px;
   background-color: rgba(252, 92, 15, 0.46);
   left: 25%;
   right: 25%;
 }
 
 .section-title:before {
   width: 15px;
   height: 15px;
   border: 3px solid #fff;
   background-color: #fc5c0f;
   left: 50%;
   transform: translatex(-50%);
   bottom: -6px;
   z-index: 9;
   border-radius: 50%;
 }
 
 /* CAROUSEL STARTS */
 .customer-feedback .owl-item img {
   width: 100%;
   border-radius: 0;
   border-left: 4px solid red;
 }
 
 .feedback-slider-item {
   position: relative;
   padding: 60px;
   margin-top: -40px;
 }
 .feedback-slider .owl-nav {
   display: none;
}
 .customer-rating {
   background-color: #eee;
   border: 3px solid #fff;
   color: rgba(1, 1, 1, 0.702);
   font-weight: 700;
   border-radius: 50%;
   position: absolute;
   width: 47px;
   height: 47px;
   line-height: 44px;
   font-size: 15px;
   right: 0;
   top: 77px;
   text-indent: -3px;
 }
 
 .thumb-prev .customer-rating {
   top: -20px;
   left: 0;
   right: auto;
 }
 
 .thumb-next .customer-rating {
   top: -20px;
   right: 0;
 }
 
 .customer-rating i {
   color: rgb(251, 90, 13);
   position: absolute;
   top: 10px;
   right: 5px;
   font-weight: 600;
   font-size: 12px;
 }
 
 /* GREY BACKGROUND COLOR OF THE ACTIVE SLIDER */
 .feedback-slider-item:after {
   content: '';
   position: absolute;
   background-image: url(../images/Testimonials.png);
   background-repeat: no-repeat;
   background-size: contain;
   height: 1150px;
   left: 20px;
   right: 20px;
   bottom: 0;
   top: 345px;
   z-index: -1;
 }
 
 .thumb-prev,
 .thumb-next {
   position: absolute;
   z-index: 99;
   top: 45%;
   width: 98px;
   height: 98px;
   left: -90px;
   cursor: pointer;
   -webkit-transition: all .3s;
   transition: all .3s;
 }
 
 .thumb-next {
   left: auto;
   right: -90px;
 }
 
 .feedback-slider-thumb img {
   width: 100%;
 }
 
 .feedback-slider-thumb:hover {
   opacity: .8;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
 }
 
 .customer-feedback .owl-nav [class*="owl-"] {
   position: relative;
   display: inline-block;
   bottom: 45px;
   transition: all .2s ease-in;
 }
 
 .customer-feedback .owl-nav i {
   background-color: transparent;
   color: rgb(251, 90, 13);
   font-size: 25px;
 }
 
 .customer-feedback .owl-prev {
   left: -15px;
 }
 
 .customer-feedback .owl-prev:hover {
   left: -20px;
 }
 
 .customer-feedback .owl-next {
   right: -15px;
 }
 
 .customer-feedback .owl-next:hover {
   right: -20px;
 }
 
 /* DOTS */
 .customer-feedback .owl-dots {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   bottom: 35px;
 }
 .customer-feedback .owl-dot {
   display: inline-block;
 }
 
.feedtext p{
   color: #000;
   text-align: left !important;
   font-size: 16px;
   font-family: "Manrope";
}
.feedtext h3{
   color: #000;
   text-align: left !important;
   font-size: 30px;
   font-weight: 700  ;
   font-family: "Manrope";
}
.customer-name{
   color: #000;
   text-align: left !important;
   font-size: 15px;
   font-family: "Manrope";
}
.thumb-next span{
   background: #E41C1F;
   display:block;
}
.thumb-next span img {
   opacity: 0.5 !important;
}
.thumb-next span img:hover {
   opacity: 1 !important;
}
.thumb-prev span{
   background: #E41C1F;
   display:block;
} 
.thumb-prev span img {
   opacity: 0.5 !important;
}
.thumb-prev span img:hover {
   opacity: 1 !important;
}
.letbgg{
   background-image: url(../images/letbgg.png);
   background-repeat: no-repeat;
   background-size: cover;
   height: 400px;
   padding: 60px 10px;
}
.ledthh{
   color: #fff;
   font-size: 50px;
   font-family: "Montserrat";
   font-weight: 700;
}
/* footer*/
.footer-bg{
   background-color: #121110;
   padding: 30px 30px;
}
.socalicon{
   display: flex;
}
.socalicon p {
   padding: 0px 20px;
}  
.socalicon p a {
   font-size: 25px;
   color: #fff;
}
.secfitn{
   text-align: right !important;

}
p.secfitn a {
   color: #fff;
   font-family: "Open Sans";
   font-size: 20px;
}
.seccont4 i{
   color: #E41C1F;
   font-size: 30px;
}
.seccont4 h4{
   font-size: 20px;
   font-family: "Montserrat";
   color: #fff;
   font-weight: 700;
}
.seccont4 p a{
   color: #fff;
   font-family: "Open Sans";
   font-size: 16px;
}
.owl-drag span {
   font-size: 36px;
   color: #fff;
}
.footer-bg2{
   background-color: #121110;
}
.Copyrsec{
   color: #fff;
   font-family: "Open Sans";
   font-size: 16px;
}
.Copyrsec2{
   color: #fff;
   text-align: right;
   padding-bottom: 10px;
}
.Copyrsec2 a{
   color: #fff;
   font-family: "Open Sans";
   font-size: 16px;
  
}
/* footer-end */

/* about-page */
.aboutbg {
   background-image: url(../images/aboutpagebackground.png);
   background-repeat: no-repeat;
   background-size: cover;

}
.aboutbg2 {
   background-image: url(../images/aboutpagebackground.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: bottom;
   height: 500px;

}
.heaname h1{
   font-family: 'Montserrat';
   font-size: 70px;
   color: #fff;
   text-transform: uppercase;
   font-weight: 900;
   text-align: center;
   padding-top: 80px;
}
.marrabout{
   background-color: #030303;
   padding: 0px 100px 60px 100px;
   margin-top: -10px;
}
.secabouttext h3{
   font-family: 'Montserrat';
   font-size: 25px;
   color: #fff;
   text-transform: uppercase;
}
.secabouttext p{
   color: #fff;
   font-family: "Open Sans";
   font-size: 20px;
}
.secvisbgg{
   background-color: #25201B;
   padding: 50px 100px;
}
.secvisintext {
   font-family: 'Montserrat';
   font-size: 60px;
   color: #fff;
}
.secvisintext2{
   color: #fff;
   font-family: "Open Sans";
   font-size: 20px;
}
.foundd-bgg{
   background-image: url(../images/Founderbg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   padding: 60px 100px;
}
.flodbackmargin{
   background: #000;
   padding: 40px;
   margin-left: -100px !important;
   margin: 100px 40px 40px 40px;
}

.flodbackmargin h2{
   font-family: 'Montserrat';
   font-size: 50px;
   color: #fff;
   font-weight: 700;
}
 
.flodbackmargin h4{
   color: #fff;
   font-family: "Open Sans";
   font-size: 25px;
   font-weight: 600;
}

.flodbackmargin p{
   color: #fff;
   font-family: "Open Sans";
   font-size: 18px;
}


.secover{
   overflow: hidden;
   padding: 150px 0px 118px 0px;
   position: relative;
   margin-top: -325px;
}


.maeqsec1{
   background-color: #4f4f4f;
   padding: 10px 0px;
   transform: rotate(10deg);
   margin-top: -20px;
   margin-left: -20px;
   margin-right: -20px;
}
.maeqsec2{
   background-color: #fff;
   padding: 10px 0px;
   transform: rotate(-10deg);
   margin-top: -75px;
   margin-left: -20px;
   margin-right: -20px;
}
.redroundsec{
   background-color: red;
   width: 30px;
   height: 30px;
   margin-top: 20px;
   border-radius: 50%;

}
.maintextmarqflex{
   display: flex;
}
.martext{
   font-family: 'Montserrat';
   font-size: 45px;
   color: #FFF;
   font-weight: 700;
   text-transform: capitalize;
}
.martext2{
   font-family: 'Montserrat';
   font-size: 45px;
   color: #525252;
   font-weight: 700;
   text-transform: capitalize;
}
.secteainer-bg{
   background-color: #313131;
   padding: 60px 60px;
   }
.secteainer-bg h3{
   font-family: 'Montserrat';
   font-size: 60px;
   color: #fff;
   text-transform: capitalize;
   font-weight: 700;
}
.secteainer-bg h3 span{
   color: #E41C1F !important;
}
.secmaintrainer{
   background-color: #000;
   margin-bottom: 30px;
}
.secmaintrainer h4{
   font-family: 'Montserrat';
   font-size: 20px;
   color: #fff;
   padding: 10px 10px 0px 20px;
}
.secmaintrainer p{
   font-family: 'Montserrat';
   font-size: 17px;
   color: #C7C7C7;
   padding: 0px 10px 30px 20px;
}
.trainer .owl-nav {
      padding-bottom: 20px;
      display: flex;
      justify-content: flex-end;
}
.trainer .owl-dots {
   display: none;
}
.trainer button.owl-next {
   background: red !important;
      margin-left: 10px;
      padding: 0px 22px 10px 22px;
}
.trainer button.owl-prev{
   background: red !important;
   padding: 0px 22px 10px 22px;
}
.trainer button.owl-next:hover {
   background: #000 !important;

}
.trainer button.owl-prev:hover{
   background: #000 !important;
}
.blogbgg{
   background-color: #191C23;
   padding: 60px;
   
}
.blogmain{
   margin-top: -160px;
}
.secmemberpp{
   margin-bottom: 30px;
}
.secmemberpp p{
   text-align: center;
   color: #fff;
   font-family: 'Montserrat';
   font-size: 20px;
}
.secmemberbg{
   background-color: #fff;
   padding: 40px 30px;
}
.secmemberbg h2{
   font-family: 'Montserrat';
   font-size: 50px;
   text-align: center;
   color: #000;
   font-weight: 700;
}
.secmemberbg h2 span{
   color: #E41C1F;
   font-size: 18px;
   font-weight: 600;
}
.secmemberbg h4{
   color: #E41C1F;
   font-size: 20px;
   font-weight: 700;
   font-family: 'Montserrat';
   text-align: center;  
   padding-bottom: 10px;
}
.secmemberbg p{
   color: #000;
   font-size: 19px;
   font-weight: 500;
   font-family: 'Montserrat';
}
.secmemberbg p span{
   color: #E41C1F;
   font-size: 20px;
   font-weight: 700;
   font-family: 'Montserrat';
}
.secptagemember{
   padding: 20px 0px 60px 0px ;
}

.secmemberbtn{
   text-align: center;
   padding-bottom: 30px;
}
.secmemberbtn a{
  background-color: #E41C1F;
  padding: 15px 30px ;
  color: #fff;
  font-size: 20px;
   font-weight: 600;
   font-family: 'Montserrat';
   text-decoration: none;
   text-transform: uppercase;
   border-radius: 10px;
}
.secmemberbtn a:hover{
   background-color: #000;
}
.blogbgg4{
   background-color: #191C23;
   padding: 60px;
   margin-top: -150px;
   
}
























 /* RESPONSIVE */
 @media screen and (max-width: 767px) {
   .feedback-slider-item:after {
     left: 30px;
     right: 30px;
   }
   .customer-feedback .owl-nav [class*="owl-"] {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     margin-top: 45px;
     bottom: auto;
   }
   .customer-feedback .owl-prev {
     left: 0;
   }
   .customer-feedback .owl-next {
     right: 0;
   }
   
 }
 @media (max-width: 767px) {
   .effect-image-1 {
      margin: 30px 0px;
   }
}